{% extends "arabic/base.html" %}
{% load static %}
{% block content %}
<h1  style="text-align: center;" >Farm Animals In ARABIC</h1>
<div class="text-center">
    <iframe width="950" height="534" src="https://www.youtube.com/embed/FJNj4Lx-XcA" title="Farm Animals In ARABIC - For Babies &amp; Toddlers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="text-center">
  <button type="button" class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/Phase1/hardquiz/'">Hard Quiz</button>
</div>
{% endblock %}