{% extends "arabic/base.html" %}
{% load static %}
{% block content %}
<h1  style="text-align: center;" >Farm Animals In ARABIC</h1>
<div class="text-center">
<iframe width="713" height="401" src="https://www.youtube.com/embed/4ZkOzubQjMw" title="Learn Arabic Alphabets : Learn with Safaa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
<div class="text-center">
  <button type="button" class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/Phase2/easyquiz/'">Easy Quiz</button>
</div>
{% endblock %}